$color_light: #ffffff;
$color_dark: #0d0f35;
$color_contrast: #4c65fb;
$color_font: #000;
$padding_X: 10%;

body {
  margin: 0;
  background-color: $color_light;
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
  padding: 0 $padding_X 0 $padding_X;

}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo {
  cursor: pointer;
}

.header__logo--title {
  color: $color_contrast;
  font-weight: lighter;
  font-size: 2em;
  font-family: "Pacifico", cursive;
  margin: 0;
}

.header__logo--subtitle {
  padding-left: 10px;
  font-size: 0.8em;
}

.header__nav {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__nav--item {
  list-style: none;
  padding-right: 30px;
  font-size: 1em;
  font-weight: bold;
}

.header__nav--item a {
  text-decoration: none;
  color: $color_dark;
}

.header__nav--item a:hover {
  text-decoration: underline;
}

.header__nav--item:active {
  color: $color_contrast;
  // text-decoration: none;
}

.header__nav--item:hover {
  cursor: pointer;
}

.welcome {
  // margin:10px $margin_rigth 0 $margin_left;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 $padding_X 0 $padding_X;

}

.welcome figure{
  margin: 0;
}

.welcome__image {
  max-width: 100%;
  margin:0;
}

.welcome__textSection {
  margin-left: 50px;
}

.welcome__textSection--title {
  font-size: 5em;
  margin: 0;
}

.items {
  padding: 0 $padding_X 0 $padding_X;

  margin: 10px 0 10px 0;
}

.items__cardGroup {
  display: flex;
  justify-content: space-between;
}

.items__cardGroup--card {
  // border: 1px solid black;
  max-width: 30%;
  min-width: 30%;
  padding: 5px;
}

.items--card__image {
  max-width: 100%;
  // max-height: 50%;
  margin: 0;
}

.footer {
  display: flex;
  background-color: $color_dark;
  color: $color_light;
}
