@use "variables" as v;

.blogPage {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;

    /* 🌙 Dark */
    body.dark & {
      color: v.$color_light_dark_mode;
    }

    /* ☀️ Light */
    body.light & {
      color: v.$color_dark_light_mode;
    }
  }

  .itemsWrapper {
    gap: 2rem;
  }

  .backButton {
    display: flex;
    align-self: center;
    max-width: 200px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: v.$border_radius;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.2s ease, color 0.2s ease;

    /* 🌙 Dark */
    body.dark & {
      background-color: v.$color_primary_dark_mode;
      color: v.$color_light_dark_mode;

      &:hover {
        background-color: v.$color_primary_strong_dark_mode;
      }
    }

    /* ☀️ Light */
    body.light & {
      background-color: v.$color_primary_light_mode;
      color: v.$color_light_light_mode;

      &:hover {
        background-color: v.$color_primary_strong_light_mode;
      }
    }
  }
}

@media (max-width: 600px) {
  .blogPage {
    padding: 0;
  }
}
