@use "variables";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: variables.$padding_Y variables.$padding_X;
    background: linear-gradient(
    to right,
    variables.$color_dark 0%,
    variables.$color_dark 15%,
    variables.$color_contrast 45%,
    variables.$color_contrast 50%,
    variables.$color_contrast 55%,
    variables.$color_dark 85%,
    variables.$color_dark 100%
  );
  color: variables.$color_light;
  margin-top: auto;
}

.logo {
  margin-bottom: 0;
  padding: 0;
  display: flex;
}

.about {
  max-width: 50%;
  display: flex;
  align-self: center;
}

.aboutText {
  margin: 0;
  font-size: 1em;
}

.social {
  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

    li {
      margin: 5px 0;

      a {
        color: variables.$color_light;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
