@use "variables";

body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  background-color: variables.$background_color;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%; // equivale a 16px en la mayoría de navegadores
}

main {
  flex: 1;
}
