@use "variables" as v;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 v.$padding_x;
  box-shadow: 0 0 1px;

  backdrop-filter: blur(10px) saturate(150%);

  /* 🎨 Tema oscuro */
  body.dark & {
    background: linear-gradient(
      to right,
      v.$color_contrast_dark_mode 0%,
      v.$color_dark_dark_mode 50%,
      rgba(v.$color_dark_dark_mode, 0.8) 100%
    );
    color: v.$color_light_dark_mode;
    box-shadow: 0 0 1px v.$color_dark_dark_mode;
  }

  /* 🎨 Tema claro */
  body.light & {
    background: linear-gradient(
      to right,
      v.$color_contrast_light_mode 0%,
      v.$color_dark_light_mode 50%,
      rgba(v.$color_dark_light_mode, 0.8) 100%
    );
    color: v.$color_light_light_mode;
    box-shadow: 0 0 1px v.$color_dark_light_mode;
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  font-weight: lighter;
  font-family: "Pacifico", cursive;
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 1rem);
  text-decoration: none;

  body.dark & {
    color: v.$color_light_dark_mode;
  }

  body.light & {
    color: v.$color_light_light_mode;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;

  body.dark & {
    color: v.$color_light_dark_mode;
  }

  body.light & {
    color: v.$color_light_light_mode;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.item {
  list-style: none;
  padding-right: 30px;
  font-weight: bold;
  font-size: clamp(0.5rem, 2vw, 0.8rem);

  a {
    text-decoration: none;
    font-weight: bold;

    body.dark & {
      color: v.$color_light_dark_mode;
    }

    body.light & {
      color: v.$color_light_light_mode;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;

  span {
    height: 3px;
    width: 25px;
    margin: 4px;
    border-radius: 2px;
    transition: all 0.3s ease;

    body.dark & {
      background: v.$color_light_dark_mode;
    }

    body.light & {
      background: v.$color_light_light_mode;
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

/* Menú desplegable */
.mobileMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  border-radius: 0 0 8px 8px;

  body.dark & {
    background: v.$color_dark_dark_mode;
  }

  body.light & {
    background: v.$color_dark_light_mode;
  }

  a {
    padding: 1rem;
    text-decoration: none;

    body.dark & {
      color: v.$color_light_dark_mode;

      &:hover {
        background: v.$color_contrast_dark_mode;
      }
    }

    body.light & {
      color: v.$color_light_light_mode;

      &:hover {
        background: v.$color_contrast_light_mode;
      }
    }
  }
}

.mobileMenu.open {
  display: flex;
}
