@use "variables";

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  box-shadow: 0 0 1px variables.$color_dark;
  padding: 0 variables.$padding_X;
  background: linear-gradient(
    to right,
    variables.$color_contrast 0%,
    variables.$color_dark 50%,
    variables.$color_contrast 100%
  );
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  color: variables.$color_light;
  font-weight: lighter;
  font-family: "Pacifico", cursive;
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 1rem);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  margin: 0;
  color: variables.$color_light;
}

.item {
  list-style: none;
  padding-right: 30px;
  font-size: 1rem;
  font-weight: bold;
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
