@use "variables"; 

.portfolioPage {
  margin: 0 auto;
  padding: 2rem;

  h1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
    color: variables.$color_light;
  }

  .itemsWrapper {
    display: grid;
    gap: 2rem;
  }
}
