$background_color_dark_mode: #0B0A27;
$background_color_start_dark_mode: #090925;
$background_color_mid_dark_mode: #0E0D2E;
$background_color_end_dark_mode: #0B0A28;
$color_light_dark_mode: #fff;

$color_primary_dark_mode: #4446FF;
$color_primary_strong_dark_mode: #2e2fff; // ✅ usar solo este

$color_dark_dark_mode: #0d0f35;
$color_contrast_dark_mode: #4446FF;
$color_font_dark_mode: #fff;

$padding_x_dark_mode: 2rem;
$padding_y_dark_mode: 1rem;
$border_radius_dark_mode: 0.5rem;
$max_width_dark_mode: 1200px;

/*
$background_color: #0B0A27;
$background_color_start: #090925;
$background_color_mid: #0E0D2E;
$background_color_end: #0B0A28;
$color_light: #fff;
$color_primary: #4446FF;
$color_primary_dark: #2e2fff;
$color_dark: #0d0f35;
$color_contrast: #4446FF;
$color_font: #000;
$padding_X: 2rem;
$padding_Y: 1rem;
$border_radius: 0.5rem;
$max_width: 1200px;
*/
