$background_color_light_mode: #FFFCF7;
$background_color_start_light_mode: #FFFCF7;
$background_color_mid_light_mode: #FFFCF7;
$background_color_end_light_mode: #FFFCF7;

$color_light_light_mode: #ffffff;

$color_primary_light_mode: #4446FF;
$color_primary_strong_light_mode: #2e2fff;

$color_dark_light_mode: #000;
$color_contrast_light_mode: #4446FF;
$color_font_light_mode: #000;
