$background_color: #0d0f35;
$color_light: #fff;
$color_primary: #4446FF;
$color_dark: #0d0f35;
$color_contrast: #4446FF;
$color_font: #000;
$padding_X: 2rem;
$padding_Y: 1rem;
$border_radius: 0.5rem;
$max_width: 1200px;
